<%- include('./layout/header.ejs') %>
<div class="container">
  <h1>
    <%= name %>
  </h1>
</div>
<div class="container full-height">
  <div class="row full-height">
    <div class="col-xs-6 offset-xs-3 full-height">
      <%- content %>
    </div>
  </div>
</div>
<%- include('./layout/footer.ejs') %>
