<%- include('./layout/header.ejs') %>
<link rel="stylesheet" href="/edit.css">
<div id="mainAppElement"></div>

<script>
const clientStr = '<%- data.content %>'
const clientPath = '<%- data.path %>'
</script>
<script src="/main.js"></script>

<%- include('./layout/footer.ejs') %>
