<%- include('./layout/header.ejs') %>
<link rel="stylesheet" href="/edit.css">
<div class="container" style="margin-top: 20px;">
  <div id="mainAppElement"></div>
</div>

<div id="logDisplay"></div>
<div class="dropZone"></div>

<script>
const clientStr = '<%- data.content %>'
const clientPath = '<%- data.path %>'
</script>
<script src="/main.js"></script>

<%- include('./layout/footer.ejs') %>
