#logDisplay {
  position: fixed;
  left: -390px;
  bottom: -10px;
  overflow: visible;
  width: 400px;
  transition:left 0.5s linear;
}
#logDisplay.open {
  left: 10px;
}
#logDisplay > .header{
  position: relative;
  top: -50px;
  left: 400px;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  background-color: rgba(255,255,255,0.8);
  border-top: 1px solid rgba(0,0,0,.125);
  border-right: 1px solid rgba(0,0,0,.125);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

#logDisplay > .logContainer {
  max-height: 500px;
  overflow: auto;
}

.note-content img {
  width: 100%;
}

.resultContainer.selected {
  background-color: rgba(255,255,100, 0.1);
}
.resultContainer {
  padding: 10px;
  border: 1px solid #aaa;
  border-top: 0px;
  cursor: pointer;
}
.resultContainer .title {
  display: inline-block;
  padding-right: 5px;
  color: #007bff;
}
.resultContainer p {
  margin: 0;
}

#rawData {
  display: none;
}
